[Desktop Entry]
Type=Application
StartupNotify=true
Terminal=false
Exec=x-www-browser http://chili.siduction.org/projects/siduction/issues/
Icon=chipsyBug
Name=Siduction Bugs
Name[ca]=Siduction Errors
Name[de]=Siduction Fehler
Comment=Siduction Bug Tracking System
Comment[ca]=Sistema de seguiment d'errors de Siduction
Comment[de]=Siduction Fehlerbeseitigungs-System
Categories=System;
